@import "./mixins/breakpoints.scss";
@import "./vars.scss";


.header {
    background-color: royalblue;
    width: $universal-width;
    max-width: $universal-Maxwidth;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10px;
    padding: 5px;

    @include mobile{
        margin: 0 10px;
    }
}

.Container-logo {
    width: 50%;
}

.Container-logo__logo {
    font-family: $logo-font;
    color: $logo-color;
    font-size: 60px;
    text-decoration: $a-text-decoration;
}