@import "./mixins/breakpoints.scss";
@import "./vars.scss";


.header {
    max-width: $desktop;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10px;
    padding: 0 46px;

    @include mobile{
        margin: 0 5px;
        padding: 0 16px;
    }
}

.Container-logo {
    width: 40%;
}

.Container-logo__logo {
    font-family: $logo-font;
    color: $logo-color;
    font-size: 60px;
    text-decoration: $a-text-decoration;

    @include mobile {
        font-size: 50px;
    }
}