@import "./mixins/breakpoints.scss";
@import "./vars.scss";

@import "./header.scss";
@import "./toggle-menu.scss";

* {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: $Darkgray-color;
    width: 60px;
}

body {
    background: url(../assets/images_bg01.png);
    background-size: 100px;
    background-color: $main-color;
    padding: 0 46px;
    // min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mobile{
        background-color: $main-color;
        padding: 0;
    }

    @include tablet{
        background-color: $main-color;
    }

    @include laptop{
        background-color: $main-color;
    }

    @include desktop{
        background-color: $main-color;
    }
}

.main, .footer {
    font-family: $universal-font;
}
