@import "./mixins/breakpoints.scss";
@import "./vars.scss";

@import "./header.scss";
@import "./toggle-menu.scss";
@import "./welcome.scss";
@import "./cards.scss";

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    
    background: url(../assets/images_bg01.png);
    background-size: 100px;
    background-color: $main-color;
    padding: 0 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $universal-font;

    @include mobile{
        background-color: $main-color;
        padding: 0;
        width: 100%;
        max-width: 375px;
        min-width: 320px;
    }

    @include tablet{
        background-color: $main-color;
        
    }

    @include laptop{
        background-color: $main-color;
        
    }

    @include desktop{
        background-color: $main-color;
    }
}
