@import "./mixins/breakpoints.scss";
@import "./vars.scss";

.toggle-menu {
    height: 50px;
    width: 50px;

    @include tablet{
        display: block;
    }

    @include mobile {
        display: block;
    }

    @include desktop{
        display: none;
    }

    @include laptop{
        display: none;
    }



    &__icon {
        height: 50px;
        width: 50px;
        bottom: 3px;
        position: relative;

        & .first-bar, .second-bar, .third-bar {
            position: absolute;
            width: 45px;
            height: 8px;
            background-color: $Darkgray-color;
            border-radius: 5px;
        }

        & .first-bar {
            top: 10px;
        }

        & .second-bar {
            top: 25px;
        }

        & .third-bar {
            top: 40px;
        }
    }
}