@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap');

$logo-font: 'Oleo Script', cursive;

$universal-font: 'Open Sans', sans-serif;

$pColor: #6b6768;

$main-color: #f2f2f2;

$logo-color: #f2463c;

$Darkgray-color: #444444;

$a-text-decoration:  none;

$universal-width: 100%;

$universal-Maxwidth: 1200px;
