@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap");
.header {
  background-color: royalblue;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 10px;
  padding: 5px; }

.Container-logo {
  width: 50%; }

.Container-logo__logo {
  font-family: "Oleo Script",cursive;
  color: #f2463c;
  font-size: 60px;
  text-decoration: none; }
