@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");
.header {
  max-width: 1400px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 10px;
  padding: 0 46px; }

@media screen and (max-width: 376px) {
  .header {
    margin: 0 5px;
    padding: 0 16px; } }

.Container-logo {
  width: 40%; }

.Container-logo__logo {
  font-family: "Oleo Script",cursive;
  color: #f2463c;
  font-size: 60px;
  text-decoration: none; }

@media screen and (max-width: 376px) {
  .Container-logo__logo {
    font-size: 50px; } }

.toggle-menu {
  height: 50px;
  width: 50px; }

@media screen and (min-width: 425px) {
  .toggle-menu {
    display: block; } }

@media screen and (max-width: 376px) {
  .toggle-menu {
    display: block; } }

@media screen and (min-width: 1400px) {
  .toggle-menu {
    display: none; } }

@media screen and (min-width: 1023px) {
  .toggle-menu {
    display: none; } }

.toggle-menu__icon {
  height: 50px;
  width: 50px;
  bottom: 3px;
  position: relative; }

.toggle-menu__icon .first-bar, .toggle-menu__icon .second-bar, .toggle-menu__icon .third-bar {
  position: absolute;
  width: 45px;
  height: 8px;
  background-color: #444;
  border-radius: 5px; }

.toggle-menu__icon .first-bar {
  top: 10px; }

.toggle-menu__icon .second-bar {
  top: 25px; }

.toggle-menu__icon .third-bar {
  top: 40px; }

.nav {
  width: 60%; }

@media screen and (min-width: 425px) {
  .nav {
    display: none; } }

@media screen and (max-width: 376px) {
  .nav {
    display: none; } }

@media screen and (min-width: 1400px) {
  .nav {
    display: block; } }

@media screen and (min-width: 1023px) {
  .nav {
    display: block; } }

.nav .nav-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none; }

.nav .nav-content li {
  padding: 8px 10px;
  margin-left: 15px;
  color: #444;
  font-family: "Open Sans",sans-serif;
  font-weight: 800;
  border-radius: 8px;
  transition: background-color 0.8s linear 0.2s; }

@media screen and (min-width: 425px) {
  .nav .nav-content li {
    margin-left: 2px; } }

@media screen and (max-width: 376px) {
  .nav .nav-content li {
    display: none; } }

@media screen and (min-width: 1400px) {
  .nav .nav-content li {
    margin-left: 15px; } }

@media screen and (min-width: 1023px) {
  .nav .nav-content li {
    margin-left: 2px; } }

.nav .nav-content li .nav-content__item {
  text-decoration: none;
  color: inherit; }

.nav .nav-content li:hover {
  background-color: #444;
  color: #fff; }

.welcome {
  max-width: 1400px;
  width: 100%;
  padding: 15px 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3); }

@media screen and (min-width: 1023px) {
  .welcome {
    width: 92%; } }

@media screen and (min-width: 425px) {
  .welcome {
    width: 92%; } }

@media screen and (max-width: 376px) {
  .welcome {
    max-width: 376px;
    min-width: 320px;
    width: 100%;
    flex-direction: column;
    padding: 0;
    margin-top: 15px; } }

.welcome-hi, .welcome-btnPrincipal {
  width: 500px;
  margin: 20px; }

@media screen and (max-width: 376px) {
  .welcome-hi, .welcome-btnPrincipal {
    width: auto; } }

.welcome-hi {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around; }

.welcome-btnPrincipal {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center; }

@media screen and (max-width: 376px) {
  .welcome-btnPrincipal {
    align-items: center;
    margin: 0 auto; } }

.welcome-btnPrincipal .btnPrincipal {
  background-color: #f2f2f2;
  width: 300px;
  height: 70px;
  padding: 10px 20px 10px 1px;
  border-radius: 8px;
  color: #444;
  text-decoration: none;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  transition: background-color 0.8s linear 0.2s; }

@media screen and (max-width: 376px) {
  .welcome-btnPrincipal .btnPrincipal {
    width: 280px; } }

.welcome-btnPrincipal .btnPrincipal:hover {
  background-color: #1591c4;
  color: #fff; }

.welcome-btnPrincipal .btnPrincipal1:active {
  background-color: #1591c4;
  color: #fff; }

.welcome-btnPrincipal .btnPrincipal:focus {
  outline: transparent; }

.welcome-hi__tilte {
  font-size: 40px;
  font-weight: 800;
  color: #444; }

@media screen and (max-width: 376px) {
  .welcome-hi__tilte {
    font-size: 32px; } }

.welcome-hi__p-principal {
  font-size: 32px;
  color: #696969; }

@media screen and (min-width: 425px) {
  .welcome-hi__p-principal {
    font-size: 15px; } }

@media screen and (min-width: 1023px) {
  .welcome-hi__p-principal {
    font-size: 32px; } }

@media screen and (max-width: 376px) {
  .welcome-hi__p-principal {
    width: auto;
    font-size: 18px; } }

.cards {
  max-width: 1400px;
  width: 100%;
  padding: 15px 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; }

@media screen and (max-width: 376px) {
  .cards {
    max-width: 376px;
    min-width: 320px;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 0 5px;
    margin-top: 10px; } }

@media screen and (min-width: 425px) {
  .cards {
    width: 90%;
    padding: 15px 0px; } }

@media screen and (min-width: 1023px) {
  .cards {
    width: 92%;
    padding: 15px 0px; } }

.container-card {
  width: 333px;
  margin: 20px 0;
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3); }

@media screen and (min-width: 425px) {
  .container-card {
    width: 100%;
    max-width: 300px; } }

@media screen and (min-width: 1023px) {
  .container-card {
    width: 100%;
    max-width: 300px; } }

@media screen and (max-width: 376px) {
  .container-card {
    max-width: 350px;
    min-width: 310px;
    width: 100%; } }

.container-card__image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 350px;
  object-fit: cover;
  border-radius: 8px;
  opacity: .5;
  transition: opacity .25s ease-in-out; }

@media screen and (min-width: 425px) {
  .container-card__image {
    width: 100%;
    max-width: 300px; } }

@media screen and (min-width: 1023px) {
  .container-card__image {
    width: 100%;
    max-width: 300px; } }

@media screen and (min-width: 1400px) {
  .container-card__image {
    width: 100%;
    max-width: 350px; } }

@media screen and (max-width: 376px) {
  .container-card__image {
    width: 100%; } }

.container-card__image:hover {
  opacity: 1; }

.container-card__image:focus {
  outline: none; }

.container-card__item {
  width: 333px;
  object-fit: cover;
  border-radius: 8px; }

@media screen and (min-width: 425px) {
  .container-card__item {
    width: 100%;
    max-width: 300px; } }

@media screen and (min-width: 1023px) {
  .container-card__item {
    width: 100%;
    max-width: 300px; } }

@media screen and (min-width: 1400px) {
  .container-card__item {
    width: 100%;
    max-width: 350px; } }

@media screen and (max-width: 376px) {
  .container-card__item {
    max-width: 350px;
    min-width: 310px;
    width: 100%; } }

.image-title {
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  position: relative;
  top: -35px;
  padding: 0 5px;
  text-shadow: 2px 0px 3px rgba(0, 0, 0, 0.59); }

@media screen and (min-width: 425px) {
  .image-title {
    width: 100%;
    max-width: 300px; } }

@media screen and (min-width: 1023px) {
  .image-title {
    font-size: 20px;
    width: 100%;
    max-width: 30 0px; } }

@media screen and (min-width: 1400px) {
  .image-title {
    width: 100%;
    max-width: 350px; } }

.container-card__description {
  padding: 0  10px 15px 10px;
  color: #696967; }

@media screen and (max-width: 376px) {
  .container-card__description {
    padding: 0 2px; } }

.container-card__description .image-subtitle {
  font-size: 16px;
  font-weight: 800; }

.container-card__description .image-description {
  font-size: 15px;
  font-weight: 300; }

.about {
  width: 100%;
  background-color: #fff;
  padding: 15px 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3); }

@media screen and (min-width: 1023px) {
  .about {
    width: 100%;
    padding: 0; } }

@media screen and (min-width: 425px) {
  .about {
    width: 100%;
    padding: 0; } }

@media screen and (max-width: 376px) {
  .about {
    max-width: 376px;
    min-width: 320px;
    width: 100%;
    flex-direction: column;
    padding: 0;
    margin-top: 15px; } }

.about .about-interesting {
  width: 30%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; }

@media screen and (max-width: 376px) {
  .about .about-interesting {
    max-width: 376px;
    min-width: 320px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 15px; } }

.about .about-interesting .about-interesting__subtitle {
  margin-bottom: 15px;
  font-family: "Open Sans",sans-serif;
  font-weight: 800;
  color: #444; }

.about .about-interesting .about-interesting__images {
  display: grid;
  grid-template-columns: auto auto;
  margin: 15px 0; }

@media screen and (max-width: 376px) {
  .about .about-interesting .about-interesting__images {
    align-items: center; } }

.about .about-interesting .about-interesting__images img {
  margin: 10px 10px 5px 0;
  opacity: .5;
  transition: opacity .25s ease-in-out; }

@media screen and (max-width: 376px) {
  .about .about-interesting .about-interesting__images img {
    width: 150px;
    margin: 2px; } }

.about .about-interesting .about-interesting__images img:hover {
  opacity: 1; }

.about .about-interesting .about-interesting__images img:focus {
  outline: none; }

.about .about-interesting .about-interesting__btn {
  background-color: #f2f2f2;
  width: 180px;
  height: 70px;
  padding: 10px 20px 10px 1px;
  border-radius: 8px;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: #444;
  transition: background-color 0.8s linear 0.2s; }

@media screen and (max-width: 376px) {
  .about .about-interesting .about-interesting__btn {
    width: 190px; } }

.about .about-interesting .about-interesting__btn a {
  color: inherit;
  text-decoration: none; }

.about .about-interesting .about-interesting__btn .btnPrincipal.btnPrincipal {
  text-decoration: none;
  color: #444; }

.about .about-interesting .about-interesting__btn {
  color: #444; }

.about .about-interesting .about-interesting__btn:hover {
  background-color: #1591c4;
  color: #fff; }

.about .about-interesting .about-interesting__btn:active {
  background-color: #1591c4;
  color: #fff; }

.about .about-interesting .about-interesting__btn:focus {
  outline: transparent; }

.about .about-what {
  width: 60%;
  max-width: 600px;
  min-width: 320px;
  margin: 10px 5px 10px 25px; }

@media screen and (max-width: 376px) {
  .about .about-what {
    width: auto;
    margin: 0 auto;
    padding: 5px; } }

.about .about-what .about-what__subtitle {
  margin-bottom: 15px;
  font-family: "Open Sans",sans-serif;
  font-weight: 800;
  color: #444; }

.about .about-what .about-what__paragraph {
  margin-bottom: 10px;
  font-size: 14px;
  color: #696969;
  letter-spacing: 1px;
  line-height: 25px;
  font-family: "Open Sans",sans-serif;
  font-weight: 300; }

* {
  margin: 0;
  box-sizing: border-box; }

body {
  background: url(../assets/images_bg01.png);
  background-size: 100px;
  background-color: #f2f2f2;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans",sans-serif; }

@media screen and (max-width: 376px) {
  body {
    background-color: #f2f2f2;
    padding: 0;
    width: 100%;
    max-width: 375px;
    min-width: 320px; } }

@media screen and (min-width: 425px) {
  body {
    background-color: #f2f2f2; } }

@media screen and (min-width: 1023px) {
  body {
    background-color: #f2f2f2; } }

@media screen and (min-width: 1400px) {
  body {
    background-color: #f2f2f2; } }
