@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");
.header {
  background-color: royalblue;
  max-width: 1400px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 10px;
  padding: 5px; }

@media screen and (max-width: 360px) {
  .header {
    margin: 0 10px; } }

.Container-logo {
  width: 50%; }

.Container-logo__logo {
  font-family: "Oleo Script",cursive;
  color: #f2463c;
  font-size: 60px;
  text-decoration: none; }

@media screen and (max-width: 360px) {
  .Container-logo__logo {
    font-size: 50px; } }

.toggle-menu {
  height: 50px;
  width: 50px; }

.toggle-menu__icon {
  height: 50px;
  width: 50px;
  bottom: 3px;
  position: relative; }

.toggle-menu__icon .first-bar, .toggle-menu__icon .second-bar, .toggle-menu__icon .third-bar {
  position: absolute;
  width: 45px;
  height: 8px;
  background-color: #444;
  border-radius: 5px; }

.toggle-menu__icon .first-bar {
  top: 10px; }

.toggle-menu__icon .second-bar {
  top: 25px; }

.toggle-menu__icon .third-bar {
  top: 40px; }

.welcome {
  max-width: 1400px;
  width: 100%;
  padding: 15px 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 8px; }

@media screen and (max-width: 360px) {
  .welcome {
    width: 310px;
    flex-direction: column;
    padding: 0;
    margin-top: 15px; } }

.welcome-hi, .welcome-btnPrincipal {
  width: 500px;
  margin: 20px; }

@media screen and (max-width: 360px) {
  .welcome-hi, .welcome-btnPrincipal {
    width: auto;
    margin: 10px; } }

.welcome-hi {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around; }

.welcome-btnPrincipal {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center; }

@media screen and (max-width: 360px) {
  .welcome-btnPrincipal {
    align-items: center;
    margin: 0 auto; } }

.welcome-btnPrincipal .btnPrincipal {
  background-color: #f2f2f2;
  width: 300px;
  height: 70px;
  padding: 10px 20px 10px 1px;
  border-radius: 8px;
  color: #444;
  text-decoration: none;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  transition: background-color 0.8s linear 0.2s; }

@media screen and (max-width: 360px) {
  .welcome-btnPrincipal .btnPrincipal {
    width: 280px; } }

.welcome-btnPrincipal .btnPrincipal:hover {
  background-color: #1591c4;
  color: #fff; }

.welcome-btnPrincipal .btnPrincipal1:active {
  background-color: #1591c4;
  color: #fff; }

.welcome-btnPrincipal .btnPrincipal:focus {
  outline: transparent; }

.welcome-hi__tilte {
  font-size: 40px;
  font-weight: 800;
  color: #444; }

@media screen and (max-width: 360px) {
  .welcome-hi__tilte {
    font-size: 32px; } }

.welcome-hi__p-principal {
  font-size: 32px;
  color: #696969; }

@media screen and (max-width: 360px) {
  .welcome-hi__p-principal {
    width: auto;
    font-size: 18px; } }

* {
  margin: 0;
  box-sizing: border-box; }

body {
  background: url(../assets/images_bg01.png);
  background-size: 100px;
  background-color: #f2f2f2;
  padding: 0 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

@media screen and (max-width: 360px) {
  body {
    background-color: #f2f2f2;
    padding: 0; } }

@media screen and (min-width: 361px) {
  body {
    background-color: #f2f2f2; } }

@media screen and (min-width: 1024px) {
  body {
    background-color: #f2f2f2; } }

@media screen and (min-width: 1400px) {
  body {
    background-color: #f2f2f2; } }

.main, .footer {
  font-family: "Open Sans",sans-serif; }
