section#Cards.cards

    div.container-card

        div.container-card__image

            img.container-card__item(src="./assets/pic01.jpg" alt="Pic 01")

            h2.image-title Put something here

        div.container-card__description

            h3.image-subtitle Maybe here as well i think

            p.image-description Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum aspernatur excepturi ut, culpa dignissimos repellendus omnis laborum reiciendis cupiditate.


    div.container-card

        div.container-card__image

            img.container-card__item(src="./assets/pic02.jpg" alt="Pic 02")

            h2.image-title An interesting title

        div.container-card__description

            h3.image-subtitle This is also and interenting subtitle

            p.image-description Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum aspernatur excepturi ut, culpa dignissimos repellendus omnis laborum reiciendis cupiditate. 

        
        
    div.container-card

        div.container-card__image

            img.container-card__item(src="./assets/pic03.jpg" alt="Pic 03")

            h2.image-title Oh, and finally ...

        div.container-card__description

            h3.image-subtitle Here's another intriguing subtitle

            p.image-description Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum aspernatur excepturi ut, culpa dignissimos repellendus omnis laborum reiciendis cupiditate. 

        
        
                
        
            
        
    

        