footer#Footer.footer

    div.footer-first

        div.footer-first__random
            h2 Random Stuff

            p Lorem ipsum dolor sit amet.
            p Lorem ipsum dolor sit amet..
            p Lorem ipsum dolor sit amet.
            p Lorem ipsum dolor sit amet.
            p Lorem ipsum dolor sit amet.

        div.footer-first__random
            h2 Random Stuff

            p Lorem ipsum dolor sit amet.
            p Lorem ipsum dolor sit amet..
            p Lorem ipsum dolor sit amet.
            p Lorem ipsum dolor sit amet.
            p Lorem ipsum dolor sit amet.

        div.footer-first__random
            h2 Random Stuff

            p Lorem ipsum dolor sit amet.
            p Lorem ipsum dolor sit amet.
            p Lorem ipsum dolor sit amet.
            p Lorem ipsum dolor sit amet.
            p Lorem ipsum dolor sit amet.

        div.footer-first__random__1
            h2 Random Stuff

            div.footer-first__random__social
                i.fab.fa-twitter-square
                i.fab.fa-facebook-square
                i.fab.fa-instagram
                i.fab.fa-dribbble-square
                i.fab.fa-pinterest-square

            p.nodec 1234 Fictional Road
            p.nodec Nashville, TN 00000
            p.nodec (800) 555-000
        

    div.footer-second
        p.copy-right &#169; Untitled. All rights reserved