footer#Footer.footer

    div.footer-first

        div.footer-first__random
            p Lorem ipsum dolor sit amet consectetur.
            p Lorem ipsum dolor sit amet consectetur.
            p Lorem ipsum dolor sit amet consectetur.
            p Lorem ipsum dolor sit amet consectetur.
            p Lorem ipsum dolor sit amet consectetur.

        div.footer-first__random
            p Lorem ipsum dolor sit amet consectetur.
            p Lorem ipsum dolor sit amet consectetur.
            p Lorem ipsum dolor sit amet consectetur.
            p Lorem ipsum dolor sit amet consectetur.
            p Lorem ipsum dolor sit amet consectetur.

        div.footer-first__random
            p Lorem ipsum dolor sit amet consectetur.
            p Lorem ipsum dolor sit amet consectetur.
            p Lorem ipsum dolor sit amet consectetur.
            p Lorem ipsum dolor sit amet consectetur.
            p Lorem ipsum dolor sit amet consectetur.

        div.footer-first__random
            p Lorem ipsum dolor sit amet consectetur.
            p Lorem ipsum dolor sit amet consectetur.
            p Lorem ipsum dolor sit amet consectetur.
            p Lorem ipsum dolor sit amet consectetur.
            p Lorem ipsum dolor sit amet consectetur.
        

    div.footer-second
        p.copy-right &#169; Untitled. All rights reserved