doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My Lorem
        link(rel="stylesheet", href="css/index.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous")
        script(href="js/main.js")
    body
        header#Header.header
            div.Container-logo
                a.Container-logo__logo(href='/') myLorem

            include menu

        main.main
            section#Welcome.welcome
                
            section#Cards.Cards
                h1 Hello Cards

            section#About.About
                h1 Hello About

        footer#Footer.footer
            h1 Hello Footer